{% extends 'layout.html' %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">{{ murder.victim_first }} {{ murder.victim_last }}</h1>
  <p class = "lead">Case Status: {{ murder.disposition }}</p>
</div>


<!-- <div class="row mb-5"> -->
  <!-- <div class="col-5"> -->
<!--     <h3>Contact info</h3>
    <p>Phone number: {{ murder.phone_number }}</p>
    <p>Fax number: {{ murder.fax_number }}</p>
    <p>School email: {{ murder.school_email }}</p>
    <p><a class="btn btn-warning">Email us</a></p> -->
  <!-- </div> -->
  <!-- <div class="col-7"> -->

<div class="container">
  <div class="row">
    <div class="col-sm">
      <p class="lead"> {{ murder.victim_first|capitalize}} {{ murder.victim_last|capitalize }} was {{ murder.victim_age }} years old when he was murdered in Philadelphia in {{ murder.year }}. He was a {{ murder.victim_race | lower }} {{ murder.victim_sex | lower}} and was his case is {{ murder.disposition | lower}}.</p>
    </div>

  <div class='col-sm'>
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
     integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
     crossorigin=""/>
   <!-- Make sure you put this AFTER Leaflet's CSS -->
   <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
     integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
     crossorigin=""></script>
   <div id="mapid"></div>
    <style>
    #mapid { height: 400px; }
    </style>
  <script>
    var map = L.map('mapid').setView([{{murder.lat}}, {{murder.lon}}], 13);

  L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles courtesy of <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a>'
  }).addTo(map)

  var marker = L.marker([{{murder.lat}}, {{murder.lon}}]).addTo(map);
  marker.bindPopup("{{ murder.victim_first }} {{ murder.victim_last }}").openPopup();
  </script>
  </div>
</div>

{% endblock %}